/* This file is for your main application css. */

@import "./phoenix.css";

.letter {
  background-color: #cdaecd;
  border: 3px solid #c07014;
  font-family: monospace;
  font-size: 5em;
  font-weight: 900;
  line-height: 1.3;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
.word {
  background-color: #DBBBBB;
  font-family: monospace;
  font-size: 5em;
  font-weight: 900;
  line-height: 1.3;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
