<section class="phx-hero">
  <%= form_for @conn, Routes.page_path(@conn, :game), [as: :user], fn f -> %>
    <h3>What is your name?</h3>
    <%= text_input f, :name %> 
    <%= submit "submit" %>
  <% end %>

</section>
